

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 54px;
}  /* must be same height as the footer */

footer {
	display: block;
	position: relative;
	margin-top: -54px; /* negative value of footer height */
	height: 54px;
	clear:both;
	background-color: #00782c;
	background-image: url(../img/footer-bg.png);
	background-repeat: repeat-w;
}

footer a {
	display: block;
	float: left;
}

footer .stage {
	height: 53px;
}

footer a.badge {
	text-indent: 9999px;
	width: 85px;
	height: 87px;
	background-image: url(../img/footer-badge.png);
	background-repeat: no-repeat;
	margin-top: -40px;
	margin-left: 40px;
	text-indent: -9999px;
}

footer a.terms {
	margin-top: 20px;
	margin-left: 10px;
	text-decoration: none;
}

footer span.sep {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	color: #fff;
}

footer a.url {
	margin-top: 20px;
	margin-left: 10px;
}

footer a.logo {
	display: block;
	text-indent: 9999px;
	width: 198px;
	height: 73px;
	background-image: url(../img/footer-logo.png);
	background-repeat: no-repeat;
	margin-top: -30px;
	text-indent: -9999px;
	float: right;
}

body {
	background-image: url(../img/bg-tile.png);
	background-repeat: repeat;
}

.reveal-modal {
	border-radius: 5px;
}

.container {
	min-height: 100%;
	max-width: 1292px;
	margin: 0 auto;
	background: url(../img/bg-home.jpg) no-repeat top center;
	position: relative;
}

body.enter .container {
	background: url(../img/bg-enter.jpg) no-repeat top center;
}

.content {
	margin: 20px auto 0;
	padding: 10px 40px;
	width: 800px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
}

.content p {
	font-size: 16px;
}

.cooper {
	font-family: 'cooper-black-std', sans-serif;
	font-size: 14px;
}

h2 {
	margin: 0 auto;
	padding-top: 20px;
	width: 320px;
	height: 120px;
	background: url(../img/logo-bg.png) no-repeat top center;
	background-position: 0 10px;
	text-indent: -9999px;
}

.enter h3 {
	margin: 0 auto;
	width: 530px;
	height: 80px;
	background: url(../img/ribbon-red.png) no-repeat top center;
	text-indent: -9999px;
}

.vote h3 {
	margin: 0 auto;
	width: 530px;
	height: 80px;
	background: url(../img/ribbon-red-home.png) no-repeat top center;
	text-indent: -9999px;
}

a:link {
	color: #fff;
	text-decoration: underline;
}
a:hover, a:visited, a:active, a:focus {
	color: #fff;
	text-decoration: none;
}

.stage {
	max-width: 960px;
	height: 710px;
	background-color: transparent;
	margin: 0 auto;
}

.what-can-i-win {
	display: block;
	position: absolute;
	top: 0px;
	left: 100px;
	background-image: url(../img/btn-what-can-i-win.png);
	background-position: 0 0;
	width: 190px;
	height: 98px;
	text-indent: -9999px;
}
.what-can-i-win:hover {
	background-position: 0 -98px;
}

.enter-your-dad {
	display: block;
	position: absolute;
	top: 10px;
	right: 100px;
	background-image: url(../img/btn-enter-your-dad.png);
	background-position: 0 0;
	width: 140px;
	height: 71px;
	text-indent: -9999px;
}
.enter-your-dad:hover {
	background-position: 0 -71px;
}

.form {
	padding-top: 50px;
}

@media (max-width: 479px) {
	.form {
		padding-top: 20px;
	}
}

.vert-outer {
	display: table;
	text-align: center;
	vertical-align: middle;
}

.vert-full {
	width: 100%;
	height: 100%;
}

.vert-inner {
	display: table-cell;
	vertical-align: middle;
}


body.vote .row .image {
	padding: 0;
	text-align: center;
}


.vote .row {
	margin:0;
}

body.enter .column.enter {
	padding-top: 30px;
}

div.enter a {
	display: block;
	margin: auto;
	background-image: url(../img/btn-enter.png);
	background-color: transparent;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
}

.column {/*border: 1px solid red;*/}

.vs span {
	display: block;
	width: 80px;
	height: 45px;
	background-image: url(../img/versus.png);
	text-indent: -9999px;
	margin: 150px auto 0;
}

.image {
	width: 320px;
	height: 320px;
	text-align: center;
}

.ribbon {
	padding-top: 20px;
	text-align: center;
}
.vote-count {
	position: relative;
	width: 120px;
	height: 35px;
	background-image: url(../img/score-bg.png);
	margin: -30px auto auto;
	padding-top: 8px;
	z-index: 30;
}

.vert .vote-count {
	margin-top: 320px;
}

.dads-name {
	width: 300px;
	height: 45px;
	background-image: url(../img/ribbon-gold-bg.png);
	margin: auto;
	padding: 12px 32px 12px 16px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* form styles */

#submit_button {
	background-image: url(../img/btn-enter.png);
	background-color: transparent;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
}

#upload_button {
	background-image: url(../img/btn-upload.png);
	background-color: transparent;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
}

.placeholder {
	color: #c60f13 !important;
	letter-spacing:0;
	font-style: italic;
}

::-webkit-input-placeholder {
	color: #c60f13 !important;
	letter-spacing:0;
	font-style: italic;
}

:-moz-placeholder {
	color: #c60f13 !important;
	letter-spacing:0;
	font-style: italic;
}

::-moz-placeholder {
	color: #c60f13 !important;
	letter-spacing:0;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #c60f13 !important;
	letter-spacing:
	font-style: italic;
}

.row input[type="text"]:focus, .row input[type="password"]:focus, .row input[type="date"]:focus, .row input[type="datetime"]:focus,
.row input[type="email"]:focus, .row input[type="number"]:focus, .row input[type="search"]:focus, .row input[type="tel"]:focus,
.row input[type="time"]:focus, .row input[type="url"]:focus, .row textarea:focus, span.customSelect.customSelectFocus, span.customSelect.customSelectHover {
	outline-color: #a57f6f;
	border-color: #a57f6f #a57f6f #382c27 #a57f6f;
}


.error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {
	outline-color: #a57f6f;
	
}

.customSelect,
.row input[type="text"], .row input[type="password"], .row input[type="date"], .row input[type="datetime"],
.row input[type="email"], .row input[type="number"], .row input[type="search"], .row input[type="tel"],
.row input[type="time"], .row input[type="url"], .row textarea, .row select
{
	border-width: 2px;
	border-radius: 5px;
	border-color: #443630 #443630 #332823 #443630;
	background: #1b120d; /* Old browsers */
	background: -moz-linear-gradient(top, #191614 1%, #2e2724 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#191614), color-stop(100%,#2e2724)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191614 1%,#2e2724 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191614 1%,#2e2724 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191614 1%,#2e2724 100%); /* IE10+ */
	background: linear-gradient(to bottom, #191614 1%,#2e2724 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191614', endColorstr='#2e2724',GradientType=0 ); /* IE6-9 */
	transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
	-moz-transition: border-color 0.5s ease;
	-o-transition: border-color 0.5s ease;
}

.row .error input[type="text"], .row .error input[type="password"], .row .error input[type="date"], .row .error input[type="datetime"],
.row .error input[type="email"], .row .error input[type="number"], .row .error input[type="search"], .row .error input[type="tel"],
.row .error input[type="time"], .row .error input[type="url"], .row .error textarea, .row .error select,
.error input, input.error, .error textarea, textarea.error, .error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {

	border-radius: 5px;
	border-color: #cf2026 #cf2026 #910b0f #cf2026;
	background: #200c0a; /* Old browsers */
	background: -moz-linear-gradient(top, #200c0a 1%, #3d1713 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#200c0a), color-stop(100%,#3d1713)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* IE10+ */
	background: linear-gradient(to bottom, #200c0a 1%,#3d1713 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200c0a', endColorstr='#3d1713',GradientType=0 ); /* IE6-9 */
	transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
	-moz-transition: border-color 0.5s ease;
	-o-transition: border-color 0.5s ease;
}

.customSelectInner {
	height: 25px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0;
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding: 10px;
}

.form .row.form-check {
	padding-top: 10px;
}

.form input, .form textarea {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px; 
}

label {
	color: #fff;
}
label:after {
	content: ':';
}
label.checkbox:after {
	content: '';
}
label.checkbox {
	color: #fff;
}

.error .customSelectInner {
	color: #c60f13;
}

span.customSelect {
	padding: 0;
	border-style: solid;
	border-color: #443630 #443630 #332823 #443630;
	margin-bottom: 12px;
}

.error span.customSelect {
	border-color: #cf2026 #cf2026 #910b0f #cf2026;
}

.jquery-checkbox-wrapper {
	width: 25px;
	height: 25px;
	float: left;
}

.jquery-checkbox {
	display: block;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox.png);
	background-position: 0px 0px;
	background-repeat: no-repeat
}

.jquery-checkbox:hover {
	background-position: 0px -25px;
}

.jquery-checkbox.jquery-checkbox-on {
	background-position: 0px -50px;
}

.error .jquery-checkbox {
	background-position: 0 -75px;
}

select, select.hasCustomSelect {
	height: 25px;
	margin-bottom: 12px;
}

label div.copy {
	margin-top: 5px;
}

input[type='submit'], button {
	padding: 5px;
	webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=image] {
	display: block;
}

.admin table {
	border: 1px solid #000;
}
.admin .rejected {
	background-color: rgba(255,0,0,0.1);
}

/* bootstrap css file upload override */

.hero-unit h1 {
	margin: 0 0 10px 0;
}

.hero-unit .file-input-wrapper {
	margin: 0 0 10px 0;
}

pre.prettyprint {
	padding: 10px;
	margin-top: 10px;
}

span.file-input-name {
	display: block;
	position: absolute;
	z-index: 15;
	color: #fff;
	font-size: 12px;;
	margin-top: 35px;
	margin-left: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 232px;
	white-space: nowrap;
}

/* the picture frames */

div.frame-holder {
	position: relative;
	border-width: 0;
	margin: auto;
}

div.frame-holder.horz {
	width: 320px;
	height: 250px;
}

div.frame-holder.vert {
	height: 320px;
	width: 250px;
}

/* all frame layers contained therein have this property */
.horz .frame {
	position: absolute;
	width: 320px;
	height:250px;
}

.vert .frame {
	position: absolute;
	height: 320px;
	width:250px;
}

.horz .frame-inner {
	position: absolute;
	width: 300px;
	height:230px;
}

.vert .frame-inner {
	position: absolute;
	height: 300px;
	width:230px;
}

/* the bootstrap upload clickable element */
.frame-layer {
	display: block;
	border-width: 0;
	border-color: transparent;
}

.horz .frame-layer {
	z-index: 20;
	background-image: url(../img/frame-horz.png);
}

.vert .frame-layer {
	z-index: 20;
	background-image: url(../img/frame-vert.png);
}

div.text-layer {
	z-index: 15;
	font-family: 'cooper-black-std', sans-serif;
	color: #f2db29;
	font-size: 20px;
	text-align: center;
	padding: 110px 30px 10px;;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.error div.text-layer {
	color: #c60f13;
	background-image: url(../img/upload-frame-error.png);
}

div.pimp-layer {
	background-image: url(../img/pimp-up.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 140px;
	height: 90px;
	z-index: 15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.pimp-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.transp-layer {
	position: absolute;
	z-index: 10;
	background-color: #000;
	margin: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.transp-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	-moz-opacity: 0.37;
	-khtml-opacity: 0.37;
	opacity: 0.37;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.opacity-layer {
	position: absolute;
	z-index: 10;
	background-color: #000;
	margin: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	-moz-opacity: 0.37;
	-khtml-opacity: 0.37;
	opacity: 0.37;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.text-layer,
.hover:hover div.opacity-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.img-layer-outer {
	position: absolute;
	z-index: 5;
}
div.img-layer-inner {
	z-index: 5;
}

div.img-layer-inner input[type="image"],
div.img-layer-inner img {
	display: block;
	margin: auto;
}

.horz div.img-layer-inner input[type="image"],
.horz div.img-layer-inner img {
	max-width: 300px;
	max-height: 230px;
}

.vert div.img-layer-inner input[type="image"],
.vert div.img-layer-inner img {
	max-height: 300px;
	max-width: 230px;
	margin: 10px auto;
}

.horz div.img-layer-outer,
.horz div.img-layer-inner
{
	width: 300px;
	height: 230px;
	margin: 10px;
	background-color: #000;
}

.vert div.img-layer-outer,
.vert div.img-layer-inner
{
	height: 300px;
	width: 230px;
	margin: 10px;
	background-color: #000;
}

