

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 54px;
}  /* must be same height as the footer */

footer {
	display: block;
	position: relative;
	margin-top: -54px; /* negative value of footer height */
	height: 54px;
	clear:both;
	background-color: #00782c;
	background-image: url(../img/footer-bg.png);
	background-repeat: repeat-x;
}

footer a {
	display: block;
	float: left;
}

footer .stage {
	height: 54px;
}

footer a.badge {
	text-indent: 9999px;
	width: 85px;
	height: 87px;
	background-image: url(../img/footer-badge.png);
	background-repeat: no-repeat;
	margin-top: -40px;
	margin-left: 40px;
	text-indent: -9999px;
}

	

footer a.terms {
	margin-top: 20px;
	margin-left: 10px;
}

footer span.sep {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	color: #fff;
}

footer a.url {
	margin-top: 20px;
	margin-left: 10px;
}

footer a.logo {
	display: block;
	text-indent: -9999px;
	width: 198px;
	height: 73px;
	background-image: url(../img/footer-logo.png);
	background-repeat: no-repeat;
	margin-top: -30px;
	text-indent: -9999px;
	float: right;
}

body {
	background-image: url(../img/bg-tile.png);
	background-repeat: repeat;
}

.container {
	min-height: 100%;
	max-width: 1292px;
	margin: 0 auto;
	background: url(../img/bg-home.jpg) no-repeat top center;
	position: relative;
}

body.enter .container {
	background: url(../img/bg-enter.jpg) no-repeat top center;
}

.content {
	margin: 20px auto 0;
	padding: 10px 40px;
	width: 800px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
}

.content p {
	font-size: 16px;
}

.cooper {
	font-family: 'cooper-black-std', sans-serif;
	font-size: 14px;
}

h2 {
	margin: 0 auto;
	padding-top: 20px;
	width: 331px;
	height: 132px;
	background: url(../img/pimp-up-logo-home.png) no-repeat top center;
	background-position: 0 0;
	text-indent: -9999px;
}

h2:hover {
	background-position: 0 3px;
	transition: background-position 0.1s ease;
	-webkit-transition: background-position 0.1s ease;
	-moz-transition: background-position 0.1s ease;
	-o-transition: background-position 0.1s ease;
}

h2 a {
	display: block;
	width: 100%;
	height: 100%;
}

.enter h3 {
	margin: 0 auto;
	width: 530px;
	height: 90px;
	background: url(../img/red-ribbon-form.png) no-repeat top center;
	text-indent: -9999px;
}

.home h3 {
	margin: 0 auto;
	width: 530px;
	height: 90px;
	background: url(../img/red-ribbon-home.png) no-repeat top center;
	text-indent: -9999px;
}

a:link {
	color: #fff;
	text-decoration: underline;
}
a:hover, a:visited, a:active, a:focus {
	color: #fff;
	text-decoration: none;
}

.stage {
	max-width: 960px;
	height: 710px;
	background-color: transparent;
	margin: 0 auto;
}

.what-can-i-win.top {
	display: block;
	position: absolute;
	top: 0;
	left: 100px;
	background-image: url(../img/btn-what-can-i-win.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 190px;
	height: 98px;
	text-indent: -9999px;
	/*background-color: rgba(255,255,255,0.3);*/
}
.what-can-i-win.top:hover {
	background-position: 0 -98px;
}
.what-can-i-win.bottom {
	display: none;
}
.enter-your-dad.top {
	display: block;
	position: absolute;
	top: 0;
	right: 100px;
	background-image: url(../img/btn-enter-your-dad.png);
	background-position: 25px 10px;
	background-repeat: no-repeat;
	width: 190px;
	height: 80px;
	text-indent: -9999px;
}
.enter-your-dad.top:hover {
	background-position: 25px -93px;
}
.enter-your-dad.bottom {
	display: none;
}

.vote-for-a-dad.top {
	display: none;
	position: absolute;
	top: 0;
	right: 100px;
	background-image: url(../img/btn-enter-your-dad.png);
	background-position: 25px 10px;
	background-repeat: no-repeat;
	width: 190px;
	height: 80px;
	text-indent: -9999px;
}
.vote-for-a-dad.top:hover {
	background-position: 25px -93px;
}
.vote-for-a-dad.bottom {
	display: none;
}

.btn-back.top {
	display: block;
	position: absolute;
	top: 10px;
	right: 125px;
	background-image: url(../img/btn-back.png);
	background-repeat: no-repeat;
	width: 140px;
	height: 71px;
	text-indent: -9999px;
}
.btn-back.top:hover {
	background-position: 0 -71px;
}
.btn-back.bottom {
	display: none;
}

.form {
	padding-top: 0px;
	margin: 0;
}

.vert-outer {
	display: table;
	text-align: center;
	vertical-align: middle;
}

.vert-full {
	width: 100%;
	height: 100%;
}

.vert-inner {
	display: table-cell;
	vertical-align: middle;
}


body.home .row .image,
body.vote .row .image {
	padding: 0;
	text-align: center;
	min-width: 320px;
}

.home .row,
.vote .row {
	margin:0;
}

body.enter .column.enter {
	padding-top: 30px;
	text-align: center;
}

div.enter a {
	display: block;
	margin: auto;
	background-image: url(../img/btn-enter.png);
	background-color: transparent;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
}

.column {/*border: 1px solid red;*/}

.columns, .column {
	padding: 0 5px;
}

.vs {
	height: 385px;
}

.vs span {
	display: block;
	width: 80px;
	height: 45px;
	background-image: url(../img/versus.png);
	text-indent: -9999px;
	margin: 130px auto 0;
}


.image {
	width: 320px;
	height: 385px;
	text-align: center;
}

.ribbon {
	padding-top: 20px;
	text-align: center;
}
.vote-count {
	position: relative;
	width: 120px;
	height: 35px;
	background-image: url(../img/score-bg.png);
	margin: -30px auto auto;
	padding-top: 8px;
	z-index: 30;
	text-transform: uppercase;
	font-size: 12px;
}

.vote-count .count {
	font-size: 18px;
}

.vert .vote-count {
	margin-top: 320px;
}

.dads-name {
	width: 300px;
	height: 45px;
	background-image: url(../img/ribbon-gold-bg.png);
	margin: auto;
	padding: 9px 32px 12px 16px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cta {
	background-image: url(../img/text-panel-bg.png);
	background-repeat: no-repeat;
	background-position: center -10px;
	min-height: 100px;
	font-size: 12px;
	padding-top: 20px;
}

.cta a {
	color: #c60f13;
}

/* form styles */

#submit_button {
	background-image: url(../img/btn-enter.png);
	background-color: transparent;
	background-position: 0 0;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
}
#submit_button:hover {
	background-position: 0 -70px;
}

#upload_button {
	background-image: url(../img/btn-upload.png);
	background-color: transparent;
	background-position: 0 0;
	border-width: 0px;
	width: 215px;
	height: 70px;
	text-indent: -9999px;
	margin-left: 22px;
}

#upload_button:hover {
	background-position: 0 -69px;
}

.error .placeholder {
	color: #83741D !important;
	letter-spacing:0;
	font-style: italic;
}

.error ::-webkit-input-placeholder {
	color: #83741D !important;
	letter-spacing:0;
	font-style: italic;
}

.error :-moz-placeholder {
	color: #83741D !important;
	letter-spacing:0;
	font-style: italic;
}

.error ::-moz-placeholder {
	color: #83741D !important;
	letter-spacing:0;
	font-style: italic;
}

.error :-ms-input-placeholder {
	color: #83741D !important;
	letter-spacing:0;
	font-style: italic;
}

.row input[type="text"]:focus, .row input[type="password"]:focus, .row input[type="date"]:focus, .row input[type="datetime"]:focus,
.row input[type="email"]:focus, .row input[type="number"]:focus, .row input[type="search"]:focus, .row input[type="tel"]:focus,
.row input[type="time"]:focus, .row input[type="url"]:focus, .row textarea:focus, span.customSelect.customSelectFocus, span.customSelect.customSelectHover {
	outline-color: #a57f6f;
	border-color: #a57f6f #a57f6f #382c27 #a57f6f;
}

.admin tc,
.admin label,
.admin .content a,
.admin input[type="password"],
.admin input[type="text"] {
	color: #000;
}

.error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {
	outline-color: #a57f6f;
	
}

.customSelect,
.row input[type="text"], .row input[type="password"], .row input[type="date"], .row input[type="datetime"],
.row input[type="email"], .row input[type="number"], .row input[type="search"], .row input[type="tel"],
.row input[type="time"], .row input[type="url"], .row textarea, .row select
{
	border-width: 2px;
	border-radius: 5px;
	border-color: #443630 #443630 #332823 #443630;
	background: #1b120d; /* Old browsers */
	background: -moz-linear-gradient(top, #191614 1%, #2e2724 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#191614), color-stop(100%,#2e2724)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191614 1%,#2e2724 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191614 1%,#2e2724 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191614 1%,#2e2724 100%); /* IE10+ */
	background: linear-gradient(to bottom, #191614 1%,#2e2724 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191614', endColorstr='#2e2724',GradientType=0 ); /* IE6-9 */
	transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
	-moz-transition: border-color 0.5s ease;
	-o-transition: border-color 0.5s ease;
}

.error .customSelect,
.row .error input[type="text"], .row .error input[type="password"], .row .error input[type="date"], .row .error input[type="datetime"],
.row .error input[type="email"], .row .error input[type="number"], .row .error input[type="search"], .row .error input[type="tel"],
.row .error input[type="time"], .row .error input[type="url"], .row .error textarea, .row .error select,
.error input, input.error, .error textarea, textarea.error, .error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {

	border-radius: 5px;
	border-color: #cf2026 #cf2026 #910b0f #cf2026;
	background: #200c0a; /* Old browsers */
	background: -moz-linear-gradient(top, #200c0a 1%, #3d1713 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#200c0a), color-stop(100%,#3d1713)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #200c0a 1%,#3d1713 100%); /* IE10+ */
	background: linear-gradient(to bottom, #200c0a 1%,#3d1713 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200c0a', endColorstr='#3d1713',GradientType=0 ); /* IE6-9 */
	transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
	-moz-transition: border-color 0.5s ease;
	-o-transition: border-color 0.5s ease;
}

.customSelectInner {
	height: 25px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0;
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding: 8px 10px 10px;
}

.form .row.form-check {
	padding-top: 10px;
}

.form input, .form textarea {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px; 
}

label {
	color: #fff;
}
label:after {
	content: ':';
}
.mandatory label:after {
	content: ': *';
}
label.checkbox:after {
	content: '';
}
label.checkbox {
	color: #fff;
}
.error label {
	color: #fff;
}
.error .customSelectInner {
	color: #83741D;
}

span.customSelect {
	padding: 0;
	border-style: solid;
	border-color: #443630 #443630 #332823 #443630;
	margin-bottom: 12px;
	background-image: url(../img/select-arrow.png);
	background-position: 97% 5px;
	background-repeat: no-repeat;
	padding-right: 5px;
	font-style: italic;
}

.error span.customSelect {
	border-color: #cf2026 #cf2026 #910b0f #cf2026;
	background-image: url(../img/select-arrow.png);
	background-position: right 5px;
	background-repeat: no-repeat;
}

.jquery-checkbox-wrapper {
	width: 25px;
	height: 25px;
	float: left;
}

.jquery-checkbox {
	display: block;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox.png);
	background-position: 0px 0px;
	background-repeat: no-repeat
}

.jquery-checkbox:hover {
	background-position: 0px -25px;
}

.jquery-checkbox.jquery-checkbox-on {
	background-position: 0px -50px;
}

.error .jquery-checkbox {
	background-position: 0 -75px;
}

select, select.hasCustomSelect {
	height: 25px;
	margin-bottom: 12px;
}

label div.copy {
	margin-top: 5px;
}

input[type='submit'], button {
	padding: 5px;
	webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=image] {
	display: block;
}

.admin table {
	border: 1px solid #000;
}
.admin .rejected {
	background-color: rgba(255,0,0,0.1);
}

/* bootstrap css file upload override */

.hero-unit h1 {
	margin: 0 0 10px 0;
}

.hero-unit .file-input-wrapper {
	margin: 0 0 10px 0;
}

pre.prettyprint {
	padding: 10px;
	margin-top: 10px;
}

span.file-input-name {
	display: block;
	position: absolute;
	z-index: 15;
	color: #fff;
	font-size: 12px;
	margin-top: 200px;
	margin-left: 35px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 232px;
	white-space: nowrap;
	font-family: 'cooper-black-std', sans-serif;
	color: #f2db29;
}

.vert span.file-input-name {
	margin-top: 250px;
	margin-left: 10px;
}

/* the picture frames */

div.frame-holder {
	position: relative;
	border-width: 0;
	margin: auto;
}

div.frame-holder.horz {
	width: 320px;
	height: 250px;
}

div.frame-holder.vert {
	height: 320px;
	width: 250px;
}

/* all frame layers contained therein have this property */
.horz .frame {
	position: absolute;
	width: 320px;
	height:250px;
}

.vert .frame {
	position: absolute;
	height: 320px;
	width:250px;
}

.horz .frame-inner {
	position: absolute;
	width: 300px;
	height:230px;
}

.vert .frame-inner {
	position: absolute;
	height: 300px;
	width:230px;
}

/* the bootstrap upload clickable element */
.frame-layer {
	display: block;
	border-width: 0;
	border-color: transparent;
	background-repeat: no-repeat;
}

.horz .frame-layer {
	z-index: 20;
	background-image: url(../img/frame-horz.png);
}

.vert .frame-layer {
	z-index: 20;
	background-image: url(../img/frame-vert.png);
}

div.text-layer {
	z-index: 15;
	font-family: 'cooper-black-std', sans-serif;
	color: #f2db29;
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}
.horz div.text-layer {
	padding: 110px 30px 10px;
}
.vert div.text-layer {
	padding: 140px 30px 10px;
}

.error div.text-layer {
	color: #c60f13;
	background-image: url(../img/upload-frame-error.png);
}

div.pimp-layer {
	background-image: url(../img/pimp-up.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 140px;
	height: 90px;
	z-index: 15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.pimp-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.transp-layer {
	position: absolute;
	z-index: 10;
	background-color: #000;
	margin: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.transp-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	-moz-opacity: 0.37;
	-khtml-opacity: 0.37;
	opacity: 0.37;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.opacity-layer {
	position: absolute;
	z-index: 10;
	background-color: #000;
	margin: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	-moz-opacity: 0.37;
	-khtml-opacity: 0.37;
	opacity: 0.37;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.hover:hover div.text-layer,
.hover:hover div.opacity-layer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

div.img-layer-outer {
	position: absolute;
	z-index: 5;
}
div.img-layer-inner {
	z-index: 5;
	background-image: url(../img/bg-tile.png);
}

div.img-layer-inner input[type="image"],
div.img-layer-inner img {
	display: block;
	margin: auto;
}

.horz div.img-layer-inner input[type="image"],
.horz div.img-layer-inner img {
	max-width: 300px;
	max-height: 230px;
}

.vert div.img-layer-inner input[type="image"],
.vert div.img-layer-inner img {
	max-height: 300px;
	max-width: 230px;
}

.horz div.img-layer-outer,
.horz div.img-layer-inner
{
	width: 300px;
	height: 230px;
	margin: 10px;
}

.vert div.img-layer-outer,
.vert div.img-layer-inner
{
	height: 300px;
	width: 230px;
	margin: 10px;
}

/* modal styles */

h4.cooper {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}

.reveal-modal {
	border-radius: 12px;
	border: 2px solid #fff;
	background-image: url(../img/overlay-bg.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
	padding: 0 20px;
	z-index: 55;
}

.reveal-modal p {
	margin-bottom: 10px;
}

.reveal-modal .close-button {
}

.reveal-modal a.btn-facebook-share {
	display: block;
	background-image: url(../img/btn-fb-share.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 55px;
	height: 52px;
	text-indent: -9999px;
	margin: 10px 40px 10px;
}

.reveal-modal a.btn-facebook-share span {
	visibility: hidden;
}

.reveal-modal a.btn-facebook-share:hover {
	background-position: 0 -52px;
}
.reveal-modal a.btn-close.close-reveal-modal {
	display: block;
	background-image: url(../img/btn-keep-voting.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 270px;
	height: 84px;
	text-indent: -9999px;
	position: relative;
	margin: -15px 0 0 -20px;
}
.reveal-modal a.btn-close.close-reveal-modal:hover {
	background-position: 0 -83px;
}
.close-reveal-modal.times {
	display: block;
	background-image: url(../img/btn-close.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 38px;
	height: 30px;
	text-indent: -9999px;
	right: 0px !important;
}
.close-reveal-modal.times:hover {
	background-position: 0 -32px;
}

.reveal-modal .right {
	display: block;
	background-image: url(../img/btn-arrow-right.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	margin: 100px -10px 100px 0;
	text-indent: -9999px;
	cursor: pointer;
	float: right;
}
.reveal-modal .right:hover {
	background-position: 0 -38px;
}

.reveal-modal .left {
	display: block;
	background-image: url(../img/btn-arrow-left.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	margin: 100px 0 100px -10px;
	text-indent: -9999px;
	cursor: pointer;
	float: left;
}
.reveal-modal .left:hover {
	background-position: 0 -38px;
}

#win-modal .slideshow {
	position: relative;
}
#win-modal .prize {
	text-align: center;
}
#win-modal .prize-image {
	width: 261px;
	height: 240px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

#win-modal .prize-image.personal-training {
	background-image: url(../img/prizes/personal-training.png);
}
#win-modal .prize-image.fresh-get-up {
	background-image: url(../img/prizes/fresh-get-up.png);
}
#win-modal .prize-image.hairstyle {
	background-image: url(../img/prizes/hairstyle.png);
}
#win-modal .prize-image.new-bling {
	background-image: url(../img/prizes/new-bling.png);
}
#win-modal .prize-image.manscaping {
	background-image: url(../img/prizes/manscaping.png);
}

#win-modal .prize-type {
	margin: 16px auto 6px auto;
	font-size: 18px;
}
#win-modal .prize-value {
	color: #c60f13;
	font-size: 24px;
	text-transform: initial;
	margin: 6px auto 16px auto;
}

@media (min-width: 439px) {
	
	.row
	#wrap,
	#main,
	.container,
	.stage,
	footer .stage,
	footer {
		min-width: 960px;
	}

}


@media screen and (max-width: 440px) {
/* Styles */

	body {
		background: url(../img/mob/bg-home.jpg) no-repeat top center;
		background-color: #000;
	}

	.columns, .column {
		padding: 0 15px;
		clear: left;
	}

	#main {
		overflow:initial;
		padding-bottom: 54px;
	}  /* must be same height as the footer */

	footer {
		position: relative;
		display: block;
		background-position: bottom center;
		background-repeat: repeat-x;
		background-color: transparent;
		height: 100px;
	}

	footer .stage {
		background-color: transparent;
	}
	
	.end {
		margin-left: inherit;
	}

	.stage,
	.container {
		height: auto;
	}

	.container {
		background: none;
	}

	body.enter .container {
		background: none;
	}

	h2 {
		width: 273px;
		height: 109px;
		background-image: url(../img/mob/pimp-up-logo-home.png);
	}
	
	.enter h2,
	.vote h2 {
		display: none;
	}
	
	.enter h3,
	.vote h3 {
		width: 320px;
		height: 53px;
	}
	
	.home h3 {
		display: none;
	}
	
	.vote h3 {
		background-image: url(../img/mob/red-ribbon-home.png);
		margin: 10px auto 0;
		text-indent: -9999px;
	}

	.enter h3 {
		background-image: url(../img/mob/red-ribbon-form.png);
	}

	.what-can-i-win.top,
	.what-can-i-win.bottom {
		z-index: 50;
		top: 190px;
		left: 50%;
		width: 241px;
		height: 54px;
		margin: 0 auto 0 -120px;
		text-indent: -9999px;
		background-position: 0 0;
		background-image: url(../img/mob/btn-what-can-i-win.png);
	}
	.what-can-i-win.top:hover,
	.what-can-i-win.bottom:hover {
		background-position: 0 -54px;
	}
	.home .what-can-i-win.top {
		display: block;
	}
	.home .what-can-i-win.bottom {
		display: none;
	}
	.enter .what-can-i-win.top,
	.vote .what-can-i-win.top {
		display: none;
	}
	.enter .what-can-i-win.bottom,
	.vote .what-can-i-win.bottom {
		display: block;
		left: 0;
		margin: 5px auto 15px;
		text-indent: -9999px
	}
	
	.enter-your-dad.top,
	.enter-your-dad.bottom {
		z-index: 50;
		top: 130px;
		left: 50%;
		right: inherit;
		width: 241px;
		height: 53px;
		margin: 0 auto 0 -120px;
		text-indent: -9999px;
		background-position: 0 0;
		background-image: url(../img/mob/btn-enter-your-dad.png);
	}
	.enter-your-dad.top:hover,
	.enter-your-dad.bottom:hover {
		background-position: 0 -53px;
	}
	.home .enter-your-dad.top {
		display: block;
	}
	.home .enter-your-dad.bottom {
		display: none;
	}
	.enter .enter-your-dad.top,
	.vote .enter-your-dad.top {
		display: none;
	}
	.enter .enter-your-dad.bottom,
	.vote .enter-your-dad.bottom {
		display: block;
		left: 0;
		margin: 10px auto;
		text-indent: -9999px
	}
	
	.vote-for-a-dad.top,
	.vote-for-a-dad.bottom {
		z-index: 50;
		display: block;
		background-repeat: no-repeat;
		text-indent: -9999px;
		top: 250px;
		left: 50%;
		right: inherit;
		width: 241px;
		height: 54px;
		margin: 0 auto 0 -120px;
		background-position: 0 0;
		background-image: url(../img/mob/btn-vote-for-a-dad.png);
	}
	.vote-for-a-dad.top:hover,
	.vote-for-a-dad.bottom:hover {
		background-position: 0 -54px;
	}
	.home .vote-for-a-dad.top {
		display: block;
	}
	.home .vote-for-a-dad.bottom {
		display: none;
	}
	.vote .vote-for-a-dad.top {
		display: none;	
	}
	.vote .vote-for-a-dad.bottom {
		display: none;
	}
	.enter .vote-for-a-dad.bottom {
		display: block;
		left: 0;
		margin: 10px auto;
		text-indent: -9999px
	}
	
	.btn-back.top,
	.btn-back.bottom {
		top: 130px;
		left: 50%;
		right: inherit;
		width: 279px;
		height: 61px;
		margin: 0 auto 0 -140px;
		background-position: 0 0;
		background-image: url(../img/mob/btn-back.png);
	}
	.btn-back.top:hover,
	.btn-back.bottom:hover {
		background-position: 0 -62px;
	}
	.enter .btn-back.top {
		display: none;
	}
	.enter .btn-back.bottom {
		display: block;
		left: 0;
		margin: 5px auto 15px;
		text-indent: -9999px
	}

	.form {
		padding-top: 10px;
	}
	
	.home form {
		display: none;
	}
	
	.ribbon {
		display: none;
	}
	
	.vs {
		height: inherit;
	}
	.vs span {
		margin: 0 auto;
		width: 39px;
		height: 22px;
		background-image: url(../img/mob/versus.png);
	}

	
	.image {
		height: 175px;
	}
	
	.home .cta {
		z-index: 5;
		background-image: none;
		margin-top: 200px;
		color: #fff;
		width: 240px;
		margin: 200px auto 0 auto;
	}
	.home .cta span {
		display: none;
	}
	
	.vote .cta {
		display: none;
	}

	.badge {
		display: none;
	}
	
	footer a.logo
	{
		display: block;
		margin: auto;
		position: absolute;
		left: 60px;
		top: 0px;
	}
	
	footer .links {
		position: relative;
		top: 70px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	
	footer a.terms {
		margin: 0 2px;
	}
	
	footer span.sep {
		margin: 0 2px;
	}
	
	footer a.url {
		margin: 0 2px;
	}
	
	div.enter {
		padding-bottom: 70px;
	} 
	
	#win-modal {
		width: 320px;
		margin-left: -160px;
	}
	
	#win-modal .prize {
		width: 200px;
		margin: 0 auto;
	}
	
	#win-modal .prize-image {
		width: 200px;
		height: 184px;
	}
	#win-modal .prize-image img {
		width: 200px;
		height: 184px;
	}

	.vote-count {
		width: 114px;
		height: 33px;
		background-image: url(../img/mob/score-bg.png);
		margin-top: -20px;
		font-size: 9px;
	}

	.vote-count .count {
		font-size: 14px;
	}
	
	#upload_button {
		position: absolute;
		left: 50%;
		margin-left: -107px;
	}
	
	span.file-input-name {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.vert span.file-input-name {
		margin-top: 150px;
		margin-left: 35px;
		width: 200px;
	}

	.vert span.file-input-name {
		margin-top: 150px;
		margin-left: 15px;
		width: 140px;
	}

	/* the picture frames */

	div.frame-holder.horz,
	.horz .frame {
		width: 206px;
		height: 157px;
	}

	div.frame-holder.vert,
	.vert .frame {
		height: 157px;
		width: 120px;
	}

	.horz div.img-layer-outer,
	.horz div.img-layer-inner,
	.horz .frame-inner
	{
		width: 191px;
		height: 142px;
	}

	.vert div.img-layer-outer,
	.vert div.img-layer-inner,
	.vert .frame-inner {
		height: 142px;
		width: 105px;
	}

	.horz .frame-layer {
		background-image: url(../img/mob/frame-horz.png);
	}

	.vert .frame-layer {
		background-image: url(../img/mob/frame-vert.png);
	}

	.horz div.text-layer {
		padding: 20px 10px 10px;
	}
	.vert div.text-layer {
		padding: 30px 20px 10px;
	}

	div.pimp-layer {
		background-image: url(../img/mob/pimp-up.png);
		width: 85px;
		height: 54px;
	}

	.horz div.img-layer-inner input[type="image"],
	.horz div.img-layer-inner img {
		max-width: 191px;
		max-height: 142px;
	}

	.vert div.img-layer-inner input[type="image"],
	.vert div.img-layer-inner img {
		max-height: 142px;
		max-width: 105px;
	}


	
}